@import '@scss/variables';

.inputWrapper {
  margin: 12px 0;
}

.input {
  width: 100%;
  height: 40px;

  padding: 0 12px;

  border-radius: 5px;
  border: 1px solid $gray;
  transition: all 0.3s linear;

  &:focus {
    border: 1px solid $blue;
    background-color: $blue-light;
  }

  &__error {
    border: 1px solid $red;
  }
}
.inputError {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: $red;
}