.m {

  &-top {
    &--10 {
      margin-top: 10px;
    }
    &--15 {
      margin-top: 15px;
    }
    &--20 {
      margin-top: 20px;
    }
    &--30 {
      margin-top: 30px;
    }
  }
  &-bottom {
    &--5 {
      margin-bottom: 5px;
    }
    &--10 {
      margin-bottom: 10px;
    }
    &--15 {
      margin-bottom: 15px;
    }
    &--20 {
      margin-bottom: 20px;
    }
  }

}