@import '@scss/variables';

.content {
  padding: 15px 0;
  &__block {
    margin-top: 20px;
  }
  &__title {
    text-align: center;
    
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color: $black;
  }
}